<!DOCTYPE html>
<html>
<head>
    <title>Fake News Detection</title>
</head>
<body>
    <h1>Fake News Detection</h1>
    <form method="POST" action="/predict">
        <label for="news">Enter the news article:</label><br>
        <textarea id="news" name="content" rows="4" cols="50"></textarea><br><br>
        <input type="submit" value="Submit">
    </form>

    {% if prediction %}
    <h2>Prediction: {{ prediction }}</h2>
    {% endif %}

    {% if confusion_matrix_image %}
    <h2>Confusion Matrix:</h2>
    <img src="data:image/png;base64,{{ confusion_matrix_image }}" alt="Confusion Matrix">
    {% endif %}

    {% if learning_curve_image %}
    <h2>Learning Curve:</h2>
    <img src="data:image/png;base64,{{ learning_curve_image }}" alt="Learning Curve">
    {% endif %}
</body>
</html>
